<form class="form" [formGroup]='testForm' autocomplete="off">

  <h2>Форма отправки данных</h2>

  <mat-form-field>
    <input matInput placeholder="URL" type="text" formControlName="url">
    <mat-error *ngIf="testForm.controls['url'].invalid && testForm.controls['url'].dirty">{{error}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="ФИО" type="text" formControlName="name">
    <mat-error *ngIf="testForm.controls['name'].invalid && testForm.controls['name'].dirty">
      Только русские буквы
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Email" type="text" formControlName="email">
    <mat-error *ngIf="testForm.controls['email'].invalid && testForm.controls['email'].dirty">{{error}}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Телефон" type="text" formControlName="phone">
    <mat-error *ngIf="testForm.controls['phone'].invalid && testForm.controls['phone'].dirty">Только цифры</mat-error>
  </mat-form-field>

  <mat-radio-group class="h-mt_10">
    <label class="h-mr_10">Выберите пол: </label>
    <mat-radio-button class="h-mr_10" value="male">Мужской</mat-radio-button>
    <mat-radio-button value="female">Женский</mat-radio-button>
  </mat-radio-group>

  <mat-form-field>
    <input matInput placeholder="Пароль" type="password" formControlName="password">
    <mat-error *ngIf="testForm.controls['password'].invalid">Минимум 6 символов</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Подтвердить пароль" type="password" formControlName="confirmPassword">
    <mat-error *ngIf="testForm.controls['confirmPassword'].errors?.equalPassword">Пароли не совпадают</mat-error>
  </mat-form-field>

  <button class="h-mt_10" mat-raised-button color="primary" type="submit">Отправить</button>

  <pre>{{testForm.value | json}}</pre>

</form>

