.form {
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
}

button {
  align-self: center;
}

.h-mr_10 {
  margin-right: 10px;
}

.h-mt_10 {
  margin-top: 10px;
}

.h-mb_10 {
  margin-bottom: 10px;
}
